@keyframes blink {
    0% { color: red; }
    50% { color: transparent; }
    100% { color: red; }
}

.blinking-text {
    animation: blink 1s infinite;
}

.container {
    white-space: nowrap; /* Запобігає переносу тексту на новий рядок */
}